header{
    background-color:#BBBBBB ;
    padding: 20px 0;
}

.caja{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color:black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
    font-size: 25px;
}




footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 40px;
}

.copyrigth{
    color: #FFFFFF;
    font-size: 15px;
    margin: 20px;
}

main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin:40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
    font-style: ;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.Bottom-formulario{
    background-color: orange;
    color: white;
    font-size: 40px;
    font-weight: bold;
    border: none;
    border-radius: 20px 30px;
    width: 50%;
    padding: 10px;
    margin: 20px;
    transition: 1s all;
    cursor: pointer;

}

.Bottom-formulario:hover{
    background: red;
    transform: scale(1.2);
    
}

.horarios{
    font-size: 40px;
    padding-left: 28%;

}
.tabla{
    margin: 40px 40px;
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

td,th{
    border: 1px solid #000000;
    padding: 8px 80px;
    font-size: 30px;

}

