body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color:#BBBBBB ;

}

.caja{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color:black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
    font-size: 25px;
}

.ImagenBanner{
    width: 100%;

}
.tituloCentralizado{
    text-align: center;
    font-size: 40px;
    padding: 20px;
    margin: 15px;
    clear: right;
}

#banner{
    width: 100%;

}

.principal{
    background: linear-gradient(#BBBBBB, #ffffff);
    padding: 30px;

}

.utensilios{
    width: 200px;
    float:right;
    margin: 20px;
}

.mapa{
    padding: 0 2em;

    
}

.mapa p{
    margin: 2em 0 2em;
}
p{
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}

.titulo-principal{

    font-size: 40px;
}
em strong{
    color: red;
}

#mision{
    font-size: 30px;
}

.diferenciales{
        background: linear-gradient(#ffffff, #BBBBBB );
        width: 100%; 
        margin: 0 auto;

}

.items{
    font-style: italic;
}

.items:nth-child(2n){
    font-weight: bold;
}

main{
    text-align: center;


}
ul li.items{
    display: inline-flexbox;
    font-size: 30px;
    padding: 20px;
    margin: 20px;
    
}

.imagendiferenciales{
    width: 700px; 
    padding: 20px;
    margin: 0 auto; 
}

.imagenDiferenciales{
    width: 100%;

}

.video {
    margin: 0 auto;
    padding: 20px;
    background:#BBBBBB;
}

footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 40px;
}

.copyrigth{
    color: #FFFFFF;
    font-size: 15px;
    margin: 20px;
}

@media screen and (max-width:480px){
    h1{
        text-align: center;
    }
    nav{
        position: static;
    }
    .caja, .principal, .mapa-contenido, .contenido-diferenciales, .video {
        width: auto;
    }
    .lista-diferenciales, .imagen-diferenciales{
        width: 100%;
    }
}