header{
    background-color:#BBBBBB ;
    padding: 20px 0;
}

.caja{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color:black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
    font-size: 25px;
}

.tituloPrincipal{

        padding-left: 30px;


}
.tituloCentralizado{
    text-align: center;

}
#banner{
    width: 100%;

}

.principal{
    background: #cccccc;
    padding: 20px;
}

p{
    text-align: center;
}

em strong{
    color: red;
}

#mision{
    font-size: 20px;
}

.diferenciales{
        background: #ffffff;
        padding: 30px;
}

.items{
    font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenDiferenciales{
    width: 50%;
}