header{
    background-color:#BBBBBB ;
    padding: 20px 0;
}

.caja{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color:black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
    font-size: 25px;
}
.tituloCentralizado{
    text-align: center;
    font-size: 25px;
    padding: 25px;
    margin: 30px;
}

#banner{
    width: 100%;

}

.principal{
    background: #cccccc;
    padding: 30px;
}

p{
    text-align: center;
}

em strong{
    color: red;
}

#mision{
    font-size: 30px;
}

.diferenciales{
        background: #ffffff;
        padding: 10px;
}

.items{
    font-style: italic;
}

main{
    text-align: center;
    padding: 20px 0;


}
ul li.items{
    display: inline-block;
    text-align: center;
    width: 30%;
    font-size: 30px;
    margin: 0 1.5%;
    box-sizing: border-box;
    border: 2px solid #000;
    font-size: 20px;
    
}

.imagenDiferenciales{
    width: 50%;

    ;
}

footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 40px;
}

.copyrigth{
    color: #FFFFFF;
    font-size: 15px;
    margin: 20px;
}